* { 
  margin: 0;
  padding: 0;
  font-family:  'Montserrat', sans-serif; 
}

html { background-image: url("./tactile_noise_@2X.png") }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button { 
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
  background-color: #C78154;
}

button:hover { cursor: pointer }
button:active { background-color: #915D3C }

label {
  margin-right: 10px;
}

select {
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 800px;
  background: url("./purty_wood.png");
}

.top-section { margin-top: 25px }

.table-message { 
  padding: 10px;
  color: #3E2312;
}


.konvajs-content { margin: 0 auto }
	
.current-feeling { 
  padding: 10px;
}

.entry-message { 
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 30px;
  color: #3E2312;
}

.outer-bar-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bar-chart-top { 
  font-size: 22px;
  font-weight: bold;
  color: #3E2312;
  margin: 25px 
}

.status-message {
  align-items: center;
  justify-content: center;
  display: flex;
}

.status-message i {
  font-size: 9px;
  padding: 0 5px;
}

.inner-bar-chart-container {
  width: 70%;
  text-align: center;
  background-image: url("./purty_wood.png");
}

.inner-bar-chart-container button {
  margin: 0 15px;
}

.bottom-controls {
  padding: 15px 0;
}

@media only screen and (max-width: 950px) {
  .inner-bar-chart-container { width: 100% }
  #root { height: auto }
}

@media only screen and (max-width: 800px) {
  .main-container { width: 100% }
}

@media only screen and (max-width: 660px) {
  .top-section { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .main-container { width: 100% }
}

@media only screen and (max-height: 730px) {
  #root { height: auto }
}